@import 'core/Reset';
@import 'core/Variables';
@import 'layout/page';



* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

body {
    background-color: $azul-oscuro;
    margin-left: 20px;
    margin-right: 20px;
    //cambiar el margen para las media queries
}

.label {
    color: $wic-gris-claro;
    transform: rotate(270deg);
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    padding: 5px;
    height: 30px;
}

.Introduction {

    margin-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 3vw;



    .intro {
        display: flex;
        flex-direction: column;
        gap: 10px;



        h1 {
            color: $wic-verde-claro;
            font-size: 70px;
        }

        h2 {
            color: $wic-azul-claro ;
            font-size: 30px;

        }

        h3 {
            color: $wic-rosa;
            font-size: 20px;
        }

        .xtra {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            //gap: 30px;


            ul {
                display: flex;
                flex-direction: row;
                gap: 5px;

                li {

                    color: $wic-gris-claro;
                    list-style: none;
                    font-size: 18px;


                    &::after {
                        // Utiliza ::after para agregar contenido después de cada li
                        content: " ● "; // Añade contenido vacío
                        //transform: translateX(-10px);
                        color: $wic-azul-claro;

                    }


                }
            }





        }

        div {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 15px;

            button {
                color: white;
                padding: 8px;
                border: 2px solid $wic-rosa;
                font-size: 18px;
                border-radius: 10px;
                background-color: rgba(255, 99, 247, 0.212);
                width: auto;


            }

            .contactBtn {
                border: 2px solid $wic-azul-claro;
                background-color: rgba(65, 253, 175, 0.192);
            }
        }


    }

    .social {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-left: -40px;


        .icons {
            color: $wic-gris-claro !important;
            padding: 5px;
            transform: scale(130%)
        }



    }



}

.About {
    margin-top: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 7vw;



    img {
        width: 300px;
        border-radius: 10px;
    }

    p {
        width: 30vw;
        color: $wic-gris-claro;
        font-size: 18px;
        line-height: 25px;
    }

}

.Passions {
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1vw;


    //width: 100px;


    div {
        //border: 2px solid $wic-azul-claro;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;




        .passIcons {
            margin-top: 5vh;
            color: $wic-rosa;
            transform: scale(250%);
            margin-bottom: 5vh;

        }

        .passIcons1 {
            margin-top: 5vh;
            color: $wic-azul-claro;
            transform: scale(250%);
            margin-bottom: 5vh;

        }

        h2 {
            color: $wic-gris-claro;
            font-size: 20px;
            width: 15vw;
            height: auto;
            padding-bottom: 15px;

        }
    }

}

.Skills {
    margin-top: 25vh;
    display: flex;
    justify-content: end;
    gap: 10vw;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8vw;


    }


}

.Portfolio {
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: start;



    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        //para media queries desktop añadir 1 al grid 
        gap: 6vw;
    }
}