@import '../core/Variables.scss';

.header {
    display: flex;
    justify-content: center;
    gap: 35vw;
    padding: 30px;

    div {
        color: white;
    }
}

.navMenu {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 15px;

    li {
        color: white;
        font-size: 18px;

        a {
            color: white;
            padding: 8px;
            border: 2px solid $wic-rosa;
            font-size: 18px;
            border-radius: 10px;
        }
    }
}