@import '../core/Variables.scss';

.header {
    display: flex;
    justify-content: center;
    gap: 23vw;
    padding: 30px;
    align-items: center;
    min-width: 410px;

    @media screen and (min-width: 1280px) {
        gap: 35vw;
    }

    @media screen and (max-width: 806px) {
        gap: 10vw;
    }

    .logo {
        color: white;
        transform: scale(140%);
        padding: 10px;
        background-color: $wic-rosa;
        border-radius: 30px;
    }


}

.navMenu {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 5vw;

    li {
        color: white;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {

            color: $wic-azul;
            cursor: pointer;
        }

        a {
            color: white;
            padding: 8px;
            border: 2px solid $wic-rosa;
            font-size: 18px;
            border-radius: 10px;
            transition: color 0.3s ease;

            &:hover {

                color: $wic-azul;
            }
        }
    }
}