@import '../core/Variables.scss';

.header {
    display: flex;
    justify-content: center;
    gap: 23vw;
    padding: 20px;
    align-items: center;
    min-width: 410px;
    position: fixed;
    /* Corrección del error tipográfico */
    width: 100%;
    /* Asegura que el header ocupe todo el ancho de la pantalla */
    top: 0;
    /* Posiciona el header en la parte superior de la pantalla */
    left: 0;
    /* Alinea el header a la izquierda */
    background-color: rgba(255, 255, 255, 0.05);
    /* Fondo blanco con 80% de opacidad */
    /* Color de fondo para el header */
    z-index: 1000;
    /* Asegura que el header esté encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una sombra para un efecto visual */


    @media screen and (min-width: 1280px) {
        gap: 35vw;
    }

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }

    .logo {
        color: white;
        transform: scale(140%);
        padding: 10px;
        background-color: $wic-rosa;
        border-radius: 30px;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            height: 3px;
            width: 25px;
            background-color: white;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: $wic-azul ;
            }

        }



    }

    @media screen and (max-width: 767px) {
        .hamburger {
            display: flex;

        }
    }
}

.hidden {
    display: none;
    /* Ajusta este valor según la altura de tu header */
}

.visible {
    top: 0;
}

.navMenu {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 5vw;

    li {
        color: white;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
            color: $wic-azul;
            cursor: pointer;
        }

        .btn {
            color: white;
            padding: 8px;
            border: 2px solid $wic-rosa;
            font-size: 18px;
            border-radius: 10px;
            transition: color 0.3s ease;

            @media screen and (max-width: 767px) {
                font-size: 15px;
                padding: 3px;
            }

            &:hover {
                color: $wic-azul;
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 1;
        display: none;


        &.active {
            display: flex;
            gap: 15px;

        }

        li {
            margin-left: 50px;
            text-align: left;

            width: 100%;
            font-size: 15px;
        }


    }
}