.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 25vw;
    height: 50vh;
    border: 3px solid blue;
    border-radius: 20px;

    .img {
        width: 20%;
        height: auto;
    }

    .title {
        color: white;
        margin: 35px;
    }

    .desc {
        color: white;
        margin: 35px;
    }

    .links {}

    .techs {}
}