@import '../core/Variables.scss';

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 100%;
        max-width: 400px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        max-width: 350px;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
        gap: 15px;
    }

    height: auto;
    //border: 1px solid rgb(68, 68, 255);
    border-radius: 5px;
    //background: rgba(255, 255, 255, 0.1) url('/src/images/pngegg.png');
    background-color: rgba(255, 137, 225, 0.082);
    background-position: bottom center;

    .icons {
        color: $wic-azul-claro;
        padding: 15px;
        transform: scale(150%);
        transition: color 0.3s ease;


        &:hover {

            color: $wic-azul;
        }

    }

    .img {
        height: 200px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        filter: grayscale(100%);
        transition: background-color 0.3s ease, filter 0.3s ease;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            height: 180px;
        }

        @media screen and (max-width: 767px) {
            height: 200px;
            transition: background-color 0.7s ease, filter 2.5s ease;

            &.in-view {
                filter: grayscale(0%);
            }
        }

        &:hover {
            background-color: transparent;
            filter: grayscale(0%);
        }
    }

    .title {
        color: white;
        margin-left: 35px;
        margin-right: 35px;
        word-wrap: break-word;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 18px;
        }
    }

    .desc {
        color: white;
        margin-left: 35px;
        margin-right: 35px;
        word-wrap: break-word;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 14px;
        }
    }

    .links {
        color: white;
        margin-left: 35px;
        margin-right: 35px;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .techs {
        color: white;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 30px;
        word-wrap: break-word;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            font-size: 12px;
        }
    }
}