@import '../core/Variables.scss';

.skillStyle {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;

    .nameBar {
        color: $wic-gris-claro;
        padding: 10px;
        width: 20vw;

        &:hover {
            color: $wic-azul-claro;
        }
    }

    .iconBrand {
        color: $wic-rosa;
        font-size: 40px; // Tamaño de los íconos de FontAwesome
        padding-right: 5px;
        transition: transform 0.6s ease, color 0.6s ease;
        width: 50px;
        display: flex;
        align-items: center;

        // Efecto hover para los íconos
        &:hover {
            transform: rotate(360deg) scale(1.5);
        }

        // Estilo común para íconos de FontAwesome e imágenes
        .fa-icon,
        .customIcon {
            width: 40px;
            color: $wic-rosa;
            height: 40px;
            color: inherit; // Aplica el color de la clase contenedora
            object-fit: contain; // Para ajustar la imagen dentro del contenedor
        }

        .customIcon {
            // Aplicar el filtro rosa
            filter: sepia(1) saturate(600%) hue-rotate(290deg) brightness(0.9);
        }
    }
}