@import '../core/Variables.scss';

.skillStyle {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;

    @media screen and (max-width: 767px) {
        padding: 8px;
        justify-content: center;
        margin: 0 auto;
        max-width: 150px;
    }

    .nameBar {
        color: $wic-gris-claro;
        padding: 10px;
        width: 100%;
        min-width: 0;
        word-wrap: break-word;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 14px;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            padding: 8px;
        }

        &:hover {
            color: $wic-azul-claro;
        }
    }

    .iconBrand {
        color: $wic-rosa;
        font-size: 40px;
        padding-right: 5px;
        transition: transform 0.6s ease, color 0.6s ease;
        width: 50px;
        min-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 35px;
            width: 45px;
            min-width: 45px;
        }

        @media screen and (max-width: 767px) {
            font-size: 30px;
            width: 40px;
            min-width: 40px;
            padding-right: 8px;
        }

        // Efecto hover para los íconos
        &:hover {
            transform: rotate(360deg) scale(1.5);
        }

        // Estilo común para íconos de FontAwesome e imágenes
        .fa-icon,
        .customIcon {
            width: 40px;
            height: 40px;
            color: inherit;
            object-fit: contain;

            @media screen and (max-width: 767px) {
                width: 30px;
                height: 30px;
            }
        }

        .customIcon {
            filter: sepia(1) saturate(600%) hue-rotate(290deg) brightness(0.9);
        }
    }
}