/* COLORS */

$color-black: #000000;

$azul-oscuro: #041729;
$gris-claro: #E0E0E0;
$blanco-frio: #F5F5F5;
$azul-verdoso: #4C787E;
$azul-palido: #7EB8D2;


$wic-negro: #011627;
$wic-azul: #0D5EAF;
$wic-azul-oscuro: #001F36;
$wic-azul-claro: #23CE6B;
$wic-gris-claro: #e6e6dc;
$wic-verde-claro: #7AA5FF;
$wic-rosa: #fc6ab3;






/* FONTS */

$font-title-brand: 300 1.4rem 'Poppins', sans-serif;
$font-title-biggest: bold 3rem 'Montserrat', sans-serif;
$font-title-big: bold 2rem 'Montserrat', sans-serif;
$font-title-medium: 300 1.5rem 'Montserrat', sans-serif;
$font-text-big: normal 1.2rem 'Montserrat', sans-serif;
$font-normal: 'Montserrat', sans-serif;
$font-button: bold 1rem 'Montserrat', sans-serif;
$font-card-text: 300 .8rem 'Poppins', sans-serif;
$font-card-section: 300 .8rem 'Poppins', sans-serif;
$font-card-title: 500 1.2rem 'Poppins', sans-serif;
$font-card-subtitle: 400 1.1rem 'Poppins', sans-serif;
$font-card-tech: 500 1rem 'Catamaran', sans-serif;